Java-Webservice/Jax-Ws/AmpSoapHttpServ/WebContent/wsdl/SimpleCalculator.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://ws.rpc.amp" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://ws.rpc.amp" xmlns:intf="http://ws.rpc.amp" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->

   <wsdl:message name="addResponse">

      <wsdl:part name="addReturn" type="xsd:int">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="subResponse">

      <wsdl:part name="subReturn" type="xsd:int">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="subRequest">

      <wsdl:part name="a" type="xsd:int">

      </wsdl:part>

      <wsdl:part name="b" type="xsd:int">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addRequest">

      <wsdl:part name="a" type="xsd:int">

      </wsdl:part>

      <wsdl:part name="b" type="xsd:int">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="SimpleCalculator">

      <wsdl:operation name="add" parameterOrder="a b">

         <wsdl:input message="impl:addRequest" name="addRequest">

       </wsdl:input>

         <wsdl:output message="impl:addResponse" name="addResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="sub" parameterOrder="a b">

         <wsdl:input message="impl:subRequest" name="subRequest">

       </wsdl:input>

         <wsdl:output message="impl:subResponse" name="subResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="SimpleCalculatorSoapBinding" type="impl:SimpleCalculator">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="add">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ws.rpc.amp" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="addResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ws.rpc.amp" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="sub">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="subRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ws.rpc.amp" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="subResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ws.rpc.amp" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="SimpleCalculatorService">

      <wsdl:port binding="impl:SimpleCalculatorSoapBinding" name="SimpleCalculator">

         <wsdlsoap:address location="http://localhost:8092/AmpSoapHttpServ/services/SimpleCalculator"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
