Java-Webservice/Jax-Ws/AmpSoapHttpServ/WebContent/wsdl/SimpleCalculator_DOCLIT.wsdl


<wsdl:definitions xmlns:apachesoap="http://xml.apache.org/xml-soap"
	xmlns:impl="http://ws.rpc.amp" xmlns:intf="http://ws.rpc.amp"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://ws.rpc.amp">
	<!-- WSDL created by Apache Axis version: 1.4 Built on Apr 22, 2006 (06:55:48 
		PDT) -->
	<wsdl:types>
		<schema xmlns="http://www.w3.org/2001/XMLSchema"
			elementFormDefault="qualified" targetNamespace="http://ws.rpc.amp">
			<element name="add">
				<complexType>
					<sequence>
						<element name="a" type="xsd:int" />
						<element name="b" type="xsd:int" />
					</sequence>
				</complexType>
			</element>
			<element name="addResponse">
				<complexType>
					<sequence>
						<element name="addReturn" type="xsd:int" />
					</sequence>
				</complexType>
			</element>
			<element name="sub">
				<complexType>
					<sequence>
						<element name="a" type="xsd:int" />
						<element name="b" type="xsd:int" />
					</sequence>
				</complexType>
			</element>
			<element name="subResponse">
				<complexType>
					<sequence>
						<element name="subReturn" type="xsd:int" />
					</sequence>
				</complexType>
			</element>
		</schema>
	</wsdl:types>
	<wsdl:message name="addResponse">
		<wsdl:part element="impl:addResponse" name="parameters"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="subResponse">
		<wsdl:part element="impl:subResponse" name="parameters"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="subRequest">
		<wsdl:part element="impl:sub" name="parameters"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="addRequest">
		<wsdl:part element="impl:add" name="parameters"></wsdl:part>
	</wsdl:message>
	<wsdl:portType name="SimpleCalculator">
		<wsdl:operation name="add">
			<wsdl:input message="impl:addRequest" name="addRequest"></wsdl:input>
			<wsdl:output message="impl:addResponse" name="addResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="sub">
			<wsdl:input message="impl:subRequest" name="subRequest"></wsdl:input>
			<wsdl:output message="impl:subResponse" name="subResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="SimpleCalculatorSoapBinding" type="impl:SimpleCalculator">
		<wsdlsoap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="add">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="addRequest">
				<wsdlsoap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="addResponse">
				<wsdlsoap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="sub">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="subRequest">
				<wsdlsoap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="subResponse">
				<wsdlsoap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="SimpleCalculatorService">
		<wsdl:port binding="impl:SimpleCalculatorSoapBinding" name="SimpleCalculator">
			<wsdlsoap:address
				location="http://localhost:8092/AmpSoapHttpServ/services/SimpleCalculator" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>