Java-Webservice/Axis Jax-Rpc/WSAxisRpcBottomUp/WebContent/wsdl/Calc.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://ws.amp" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://ws.amp" xmlns:intf="http://ws.amp" xmlns:tns1="http://bean.ws.amp" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://ws.amp" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://bean.ws.amp"/>
   <element name="calc">
    <complexType>
     <sequence>
      <element name="calcReq" type="tns1:CalcReq"/>
     </sequence>
    </complexType>
   </element>
   <element name="calcResponse">
    <complexType>
     <sequence>
      <element name="calcReturn" type="tns1:CalcResp"/>
     </sequence>
    </complexType>
   </element>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://bean.ws.amp" xmlns="http://www.w3.org/2001/XMLSchema">
   <complexType name="CalcReq">
    <sequence>
     <element name="oper1" type="xsd:int"/>
     <element name="oper2" type="xsd:int"/>
    </sequence>
   </complexType>
   <complexType name="CalcResp">
    <sequence>
     <element name="diff" type="xsd:int"/>
     <element name="div" type="xsd:double"/>
     <element name="mul" type="xsd:int"/>
     <element name="sum" type="xsd:int"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="calcRequest">

      <wsdl:part element="impl:calc" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="calcResponse">

      <wsdl:part element="impl:calcResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Calc">

      <wsdl:operation name="calc">

         <wsdl:input message="impl:calcRequest" name="calcRequest">

       </wsdl:input>

         <wsdl:output message="impl:calcResponse" name="calcResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="CalcSoapBinding" type="impl:Calc">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="calc">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="calcRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="calcResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="CalcService">

      <wsdl:port binding="impl:CalcSoapBinding" name="Calc">

         <wsdlsoap:address location="http://localhost:8092/WSAxisRpcBottomUp/services/Calc"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
